/*GLOBAL*/

.artisan-template-default{
    font-family: 'Roboto';
    line-height:2.2em;
}

.artisan-info-card-shoplink{
    color: black;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-emphasis-color:rgba(0, 0, 0, 0.300);
    text-underline-offset: 0.2em;
}
.artisan-info-card-shoplink:hover{
    text-decoration: none;
}
.artisan-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.artisan-top-section{
    justify-content: space-around;
    align-content: center;
}
/*Couleur des liens*/
.artisan-workshops-card-info{
    color: black;
}
/*Fontes*/
.artisan-main-title, .artisan-info-title, .artisan-workshops-card-title, .artisan-subtitle-text{
    font-family:'Roboto Condensed';
    font-weight: 400;
}

/*Titre principal h1*/
.artisan-main-title{
    text-align: center;
    font-size: 4em;
    font-weight: 300;
    width: 100%;
    margin-bottom: 3rem;
}
/*Sous-titre: artisan*/
.artisan-subtitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}
.artisan-subtitle img{
    width:40%;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}

.artisan-info-title, .artisan-subtitle-text{
    font-size:1.1em; 
    text-transform:uppercase;
}


.artisan-info-card-block ul{
    padding-bottom:1.5rem;
}

.artisan-introduction{
    font-weight:bold; 
    margin-bottom: 2.6rem;
}
/*Colonnes gauche et droite*/
.artisan-section-presentation{
    width:100%;
}
.artisan-section-info{
    width:100%;
} 

/*Encadré de droite: infos pratiques*/
.artisan-info-card{
    background-color:#FFE7C0; 
    padding:2rem; 
    text-align: end; 
}
.artisan-info-card-block:nth-child(1), .artisan-info-card-block:nth-child(2), .artisan-info-card-block:nth-child(3),.workshops-title{
    border-bottom:1px solid #464646;
}
/*Liste des points de vente*/
.artisan-info-card-shoplist{
    list-style-type: none;
}
/*Liens vers la page 'boutiques'*/
.artisan-info-card-shoplink{
    color:black;
    text-decoration: underline;
}
.artisan-info-card-shoplink:hover{
    color:black;
    text-decoration: none;
    font-weight: 500;
}
/*contact*/
.artisan-contact-icons{
    display:flex; 
    justify-content: center;
    align-items: center;
}

.artisan-contact-icons a{
    margin:0 1rem 1rem 2rem;
    transition: transform .2s;
}
.artisan-contact-icons a:hover{
    margin:0 1rem 1rem 2rem;
    transition: transform .2s;
    transform: scale(1.15);
}

/*Atelier(s)*/
.artisan-workshops-section{
    width:100%;
}
.artisan-workshops-list{
    display:flex; 
    justify-content: center;
    list-style-type:none;
}
.artisan-workshops-card{
    width: 100%;
    display:flex; 
    flex-direction:column; 
    /*align-items: center;*/
    border-radius: 10px;
    padding:1.5rem;
    margin-bottom: 2rem;
    transition: transform .2s;
}
.artisan-workshops-card img{
    width: 100%;
}
.artisan-workshops-card:hover{
    box-shadow: 5px 5px 10px 2px #00000035;
    transition: transform .2s;
    transform: scale(1.02);
}
.artisan-workshops-card-title{
    font-size:1.5em;
    font-weight: bold;
    color: #639B84;
}
.date{
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    background-color: #639B84;
    font-size: 1.2em;
    padding:0.2em;
}
.price{
    font-weight:500;
    font-size: 1.1em;
    color: #639B84;
}

.artisan-workshops-card-inactive{
    display:flex; 
    flex-direction:column; 
    align-items: center;
    max-width:100%;
    padding:2rem;
    margin-bottom: 2rem;
}
.artisan-workshops-card-text{
    max-width: 100%;
}


/*MOBILES & TABLETTES*/
@media screen and (max-width: 900px){
    .artisan-top-section-container{
        align-items: center;
    }

    .artisan-top-section{
        display:flex; 
        flex-direction: column;
        padding:1rem;
    }

    /*Colonnes gauche et droite*/
    .artisan-section-presentation{
        width:100%;
    }
    .artisan-section-info{
        width:100%;
    }
}

/*TABLETTES*/
@media screen and (min-width: 420px) and (max-width: 900px){

}

/*DESKTOP*/
@media screen and (min-width: 900px) {

    .artisan-container{
        margin:0 27rem 0 27rem;
    }

    .artisan-top-section{
        display:flex; 
        align-content: center;
        padding:2rem;
    }
    /*Colonnes gauche et droite*/
    .artisan-section-presentation{
        padding-right: 3.5rem;
    }
    .artisan-section-info{
        padding-left: 3.5rem;
    }
    
    /*Colonne de droite:infos pratiques*/
    .artisan-info-card{
        background-color:#FFE7C0; 
        padding:2rem; 
        width:85%; 
        margin-left:1.5rem; 
        text-align: end; 
        margin-top:-5rem; 
        position:relative; 
        z-index:1;
    }
}