/*Désactiver les styles par défaut WC*/

.product-template-default{
    font-family: 'Roboto';
}
.product-template-default h1, .artisanoscope-single-product-info-artisan-title{
    font-family: 'Roboto Condensed';
}
.product-template-default a{
    color: black;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-emphasis-color:rgba(0, 0, 0, 0.300);
    text-underline-offset: 0.2em;
}
.product-template-default a:hover{
    text-decoration: none;
}

.artisanoscope-single-product-info-acf-fields{
    position: relative;
    background-color: #FFE7C0; 
    padding:1rem;
}

.artisanoscope-single-product-info-acf-fields-img{
    width:60px; 
    border-radius:50%;
}

.artisanoscope-single-product-info-artisan-hover{
    display:none;
}
.artisanoscope-single-product-info-artisan-name{
    font-size: 2em;
    color: black;
}
.artisanoscope-single-product-info-artisan-link:hover .artisanoscope-single-product-info-artisan-hover{
    display:flex;
    position: absolute;
    z-index: 2;
    width:60%;
    flex-direction:column; 
    align-items:center; 
    background-color:#ffffff; 
    box-shadow: 5px 5px 10px #00000035;
    border-radius: 7px;
    padding: 1rem;
}

.artisanoscope-single-product-info-artisan-hover-img{
    width: 50%; 
    margin-bottom: 1rem;
    border-radius:50%;
}
.artisanoscope-single-product-info-artisan-hover-name{
    font-family: 'Roboto Condensed';
    font-size:1.5em;
}

.artisanoscope-single-product-info-acf-field-line{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    align-items: flex-start;
}

.artisanoscope-single-product-info-artisan-title{
    align-items: center;
    align-self: center;
    position:relative;
    margin-bottom: 1rem;
}

.artisanoscope-single-product-info-acf-field-svg, .artisanoscope-single-product-info-acf-fields-img{
    margin-right:1.5rem;
}

.artisanoscope-single-product-info-acf-fields-address{
    line-height:1.5em;
}
.artisanoscope-single-product-info-availabilities{
    font-weight:bold; 
    color: #639B84;
}

/*Override des styles Woocommerce*/
.product-template-default .price{
    font-size: 1.4em!important;
    /*font-weight:bold!important;*/
    color:  #639B84!important;
}
.single_add_to_cart_button{
    color: white !important;
    background-color: #639B84!important;
}
.single_add_to_cart_button:hover{
    color:  #639B84!important;
    background-color:white!important;
    border: 1px solid #639B84!important;
}

.atelier-option-warning{
    color:#9f4a00; border:1px solid #9f4a00; background-color:#FFE7C0; border-radius: 7px; padding:1em;
}